/tramp
/elpa
/ac-comphist.dat
/.smex-items
/places
/bookmarks
/web-vcs-log.org
/dot-emacs.before_ecb_2.40
/dot-emacs.before_ecb_2.40__1
/newsticker/feeds/Emacs Wiki/data
/rhtml-minor-mode/
/.org-id-locations
/url/cookies
/.cask
*.*#
projectile-bookmarks.eld
/projectile.cache
/org-gcal/
/request/
/snippets/
/emms/
/hackernews/
/mastodon.plstore
/org-journal.cache
/org-medium/
/plugins/
/rake.cache
/recentf
/themes/
/transient/
/tutorial/
/var/
/yasnippet-snippets/
