/tramp
/elpa/svg-clock-0.4/svg-clock-autoloads.el
/elpa/svg-clock-0.4/svg-clock-pkg.el
/elpa/svg-clock-0.4/svg-clock-pkg.elc
/elpa/svg-clock-0.4/svg-clock.el
/elpa/svg-clock-0.4/svg-clock.elc
/ac-comphist.dat
